.about-title-style{
    text-align: center;
    padding-top: 50px;
    font-size: -webkit-xxx-large;
    font-weight: 500;
}
.about-bottom-background-image{
    position: absolute;
    /* padding-top: 510px; */
    bottom: -20px;
    z-index: -1;
}
.about-top-background-image{
    height: 730px;
    float: right;
}
.about-col-align{
    align-self: center;
}
.about-description-style{
    text-align: justify;
}

.about-picture-scale{
    width: inherit;
}