/* PADDING OF HEADER */
.about-header-padding{
    padding-left: 0px;
    padding-right: 0px;
}

/* BACKGROUND PICTURE TOP */
.about-top-background-div{
    width: 100%;
    position: absolute;
    z-index: -1;
    opacity: 0.5;
}
.about-top-background-image{
    height: 730px;
    float: right;
}

/* CONTENT */
.about-content-padding{
    padding-left: 150px;
    padding-right: 150px;
}
.about-title-style{
    text-align: center;
    padding-top: 50px;
    font-size: -webkit-xxx-large;
    font-weight: 500;
}
.about-col-align{
    align-self: center;
}
.about-description-style{
    text-align: justify;
}
.about-picture-scale{
    width: inherit;
}

/* BOTTOM BACK GROUND IMAGE */
.about-bottom-background-div{
    position: relative; 
}
.about-bottom-background-image{
    position: absolute;
    /* padding-top: 510px; */
    bottom: -20px;
    opacity: 0.5;
    z-index: -1;
}

@media(max-width: 767px){
    .about-content-padding{
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
    .about-top-background-image, .about-bottom-background-image{
        height: 300px !important;
    }
    .about-picture-sm{
        display: none;
    }
}

@media(min-width: 768px){
    .about-content-padding{
        padding-left: 100px;
        padding-right: 100px;
    }
    .about-picture-bottom{
        align-self: flex-end;
    }
}

@media(max-width: 1024px){
    .about-top-background-image{
        height: 480px;
    }
}