.reservations-image{
  position: absolute;
  width: 50%;
  z-index: -1;
}

.reservations-title-style{
  text-align: center;
  padding-top: 50px;
  font-size: -webkit-xxx-large;
  font-weight: 500;
  padding-bottom: 50px;
}

  
