.footer-background-color{
    background-color: #343a40;
    color: rgba(255,255,255,.5);
}
.footer-margin{
    margin-top: 20px;
}
.footer-author-and-date{ 
    padding-top: 15px;
    text-align: center;
}
