/* HEADER PADDING */
.products-header-padding{
    padding-left: 0px;
    padding-right: 0px;
}
/* IMAGE */
.products-image-forground{
    position: absolute;
    width: 100%;
    height: 300px;
    z-index: -1;
}
/* CONTENT */
.products-content-padding{
    padding-left: 150px;
    padding-right: 150px;
}
.products-title-style{
    text-align: center;
    padding-top: 50px;
    font-size: -webkit-xxx-large;
    font-weight: 500;
}
/* CARDS */
/********* So that the same size with other cards *********/
.products-cards-samesize{
    display: flex;
    flex-direction: row;
}
 
.products-card{
    padding-top: 10px;
    /* So that same size with other cards */
    flex: 1; 
    transition: .4s;
}

/* Shaddow effect at the back of the card */
.products-card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.products-card-title{
    font-size: medium;
    color: black;
}
.products-card-price{
    text-align: right;
    color: blue;
}
